 <div id='footer'>
Powered by <a href="#" onclick="window.open(this.href);return false;">NIT</a>
      &copy; Developed by NIT
      | <a href="#about" rel="facebox">About</a>
    </div>
    <br />
    <div id='about' style='display:none;'>
      <h3>
        NIT POS
        <span class='cool'>v0.1.1</span>
      </h3>
      <p>
       TouchPOS
  
      </p>
        </div>
		

