<div class="menu">
		<ul>

			<li><a href="#"><%=t 'menu.outlet_management' %></a>
			   <ul>
			     
			      <li><a href="/home">Pending Outlet PO</a></li>	
			     <li><a href="/outlet_purchase_orders">Completed Outlet PO</a></li>
			     <li><a href="#"><%=t 'menu.grn' %></a></li>
		       
		       </ul>
		  </li>
		  

		  
		
		</ul>
	</div>

	